
/* 
    Created on : Apr 6, 2017, 2:58:57 PM
    Author     : Michael Mukolwe
*/
@font-face {
    font-family: 'Montserrat-Regular';
    src:url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Oxygen-Regular';
    src:url(../fonts/Oxygen-Regular.ttf) format('truetype');
}
a{
    color:#5cb85c;
}
a:hover{
    color: #67b168;
    text-decoration: none;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
}
.navbar-primary .navbar-brand {
    color: #000;
}
.navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-primary .navbar-text {
    color: #000;
}
.navbar-primary .navbar-nav > li > a {
    color: #000;
}
.navbar-primary .navbar-nav > li > a {
    color: #777;
}
.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
    color: #5cb85c;
    background-color: white;
}
.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
    color: #555;
    background-color: white;
}
.navbar-primary .navbar-nav > .disabled > a,
.navbar-primary .navbar-nav > .disabled > a:hover,
.navbar-primary .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: white;
}
.navbar-primary button{
    width: 100px;
}
.navbar-primary button:hover{
    color: #5cb85c;
    background-color: white;
    border-color: #5cb85c;
}

.navbar-primary input:focus{
    border-color: #5cb85c;
}
.dropdown{
    font-family: 'Montserrat-Regular';
    background-color: transparent;
}
.navbar-ex1-collapse{
    font-family: 'Montserrat-Regular';
    background-color: transparent;
}
#not{
    border: none;width: auto;
    font-size: 1.1em;
    background-color: transparent;

}
a #not:active,
a #not:hover,
a #not:focus,
a #not:after{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#dropdownMenu1{
    border: none;width: auto;margin-top: 10px;
    font-size: 1.1em;
    background-color: transparent;
}

#dropdownMenu1:hover,
#dropdownMenu1:focus,
#dropdownMenu1:active,
#dropdownMenu1:after{
    background-color: transparent;
    color: #5cb85c;
}
.form-control::-moz-placeholder {
    color: black;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: black;
}
.form-control::-webkit-input-placeholder {
    color: black;
}
.jumbotron {
    /*text-align: center;*/
    height: 450px;
    /*background-image: url(../img/flash.png);*/
}
.jumbotron h1{
    color: #5cb85c;
    font-size: 3em;
    padding: 0 0 0.3em;
    font-family: 'Montserrat-Regular';
}
.main-section{
    margin-bottom: 0px;
    background: #f9f9f9;
}

/*--services--*/
.service-top h3{
    text-align:center;
    color: #000;
    font-size: 3em;
    padding: 0 0 0.3em;
    font-family: 'Oxygen-Regular';
}
.service-top h3:after,.service-top h3:before{
    width: 200px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content:"";
    background:#000;
    margin: 0 1%;
}
.service-top p{
    color: #a3a3a3;
    font-size: 0.9em;
    line-height: 2em;
    /*    text-align:center;*/

}
.services{
    padding: 1em 0 3em;
}
.service-top {
    padding: 0em 0 1em;
}
.ser-top-right{
    float:right;
    width:77%;
}
.ser-top-left{
    float:left;
    width:77%;
}
.ser-top h4{
    font-size: 1.4em;
    text-transform: uppercase;
    font-family:'Oxygen-Regular';
    color:#5cb85c ;
}
.ser-top h5{
    margin-top: 2em;
    font-size: 1.0em;
    text-transform: uppercase;
    font-family:'Oxygen-Regular';
    /*color:#5cb85c ;*/
}
.ser-top p{
    color:#a3a3a3;
    font-size: 0.9em;
    line-height:2em;
    margin:0.1em 0 0em;
}
.ser-grid{
    float:left;
}
.services-grid {
    margin: 0em 0 2em;
}
.btn-default{
}
.hi-icon {
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color:#5cb85c;
    border:3px solid #BDB76B;
    line-height: 4.5em;
    font-size: 1em;
}

.hi-icon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}

.hi-icon:before {
    font-size: 1.7em;
    display: block;
}
footer{
    background-color: black;
    margin-top: 0px;
}
footer a{
    color: #5cb85c;
}

/*login page*/
.main-panel{
    font-family:'Oxygen-Regular';
}
.main-panel .login-brand{
    font-size: 1.4em;
}
.btn-sign-in{
    border: 1px solid gray;
    border-radius: 10px;
}
.btn-sign-up{
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 5px gray;
    margin-left: 20px;
}
.main-panel{
    height: 585px;
    padding-top: 30px;
    background-color: #f9f9f9;
}
.panel-login{
    width: 500px;
    margin-left: 330px;
    background-color: #f9f9f9;
    border: none;
}
.panel-login #user-email{
    height: 40px;
    border-radius: 0px;
    margin-bottom: 40px;
}
.panel-login #user-password{
    height: 40px;
    border-radius: 0px;
}
.panel-login button{
    border-radius: 0px;
}

#btn:hover{
    color: #398439;
}
/*end login*/

/*forget page*/
.forget-panel{
    height: 585px;
    padding-top: 30px;
    background-color: #f9f9f9;
}
.p-center{
    margin-left: 350px;
}
/*end*/ 
.panel-default{
    background-color: #f9f9f9;

}
/*signup*/
.panel-signup{
    width: 550px;
    margin-left: 300px;
    background-color: #f9f9f9;
}
.panel-signup input{
    border-radius: 0px;
    height: 40px;
    margin-bottom: 30px;
}
.panel-signup button{
    border-radius: 0px;
}

.panel-signup #user-search{
    
}
/*end*/

/*admin section*/
/*.nav-one{
    background-color: #f9f9f9;
    border-bottom-color: #398439;
}*/
.nav-two{
    background-color: #f9f9f9;
    height: 3.5em;
}
.media-object{
    width: 95%;margin-top: 45px; margin-left: 5px;
}
.h3_span{
    font-size: 12px;
    margin-left: 20px;
}
.section--center--stats{
    height: 120px;
}
.section--center--stats h4{
    padding-top: 10px;padding-left: 10px;
}
.sect--center--stats{
    height: 60px;
}
.sect--center--stats h4{
    padding-top: 10px;padding-left: 10px;
}
.prof--center{
    margin-top: 10px;
}
.overview_count{
    margin-top: 40px;
    margin-left: 90%;  
    font-size: 20px;
}
.overview_count_ex{
    padding-top: 18px;
    font-size: 20px;
}
.mdl-button{
    color: #3e8f3e;
    margin-left: 350px;
}
.mdl-button:hover,
.mdl-button:active,
.mdl-button:focus{
    background-color: transparent;
    color:#398439;
    font-size: 15px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-two {
    height: 70px;
    margin: 0;
    width: 100%;
    padding: 0 0 0 56px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #f9f9f9;
    overflow-y: hidden;
}
.nav-two a{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 1em;
    align-content: center;
    margin-right: 50px;
}
.nav-two a:hover,
.nav-two a:active,
.nav-two a:focus {
    color: #000;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-bottom-color: transparent;
}
.mdl-layout__tab {
    
}
/*.mdl-shadow--tabs {
    box-shadow-: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }*/
.list-inline > li{   
    padding: 4px 0;
}
.nav-two ul li:first-child, .nav-two ul li a:first-child{
    margin-left: -5px;
}
.list-inline > li > a{
    color: #000;
    padding: 6px 15px;
    font-size: 13px;
    line-height: 1.38462em;
    font-weight: bold;
    line-height: 21px;
}
.list-inline > li > a:focus, .list-inline > li > a:hover, .list-inline > li.active > a{
    color: white;
    text-decoration: none;
    background: #a71c1c;
    background: rgba(51,51,51,0.3);
}
.list-sep::before{
    content: '\b7';
    color: white;
    margin: 0 6px;
}
.main-content{
    margin-top: 40px;
}
.panel{
    border: none;
    /*height: 350px;*/
}
.btn-add{
    height: 35px;
    width: 270px;
}
.panel-stats{
    /*height: 200px;*/
    background-color: #f9f9f9;
}
.panel-expert{
    width: 800px;
    background-color: #f9f9f9;
}
.panel-expert input{
    border-radius: 0px;
    height: 40px;
    margin-bottom: 30px;
}
.panel-expert button{
    border-radius: 0px;
}
.panel-farmer{
    width: 800px;
    background-color: #f9f9f9;
}
.panel-farmer input{
    border-radius: 0px;
    height: 40px;
    margin-bottom: 30px;
}
.panel-farmer button{
    border-radius: 0px;
}
/*message section*/

.module {
    border: 1px solid #9BA0AF;
    width: 100%;
    margin: 0 3% 0 3%;
    /*margin-top: 50px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}

#main .module header h3 {
    display: block;
    width: 90%;
    float: left;
}

.module header {
    height: 38px;
    width: 100%;
    background: #F1F1F4 url(../img/secondary_bar.png) repeat-x;
    -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module_content {
    margin: 10px 20px;
    color: #666;}

/* Module Widths */
.width_quarter {
    /*width: 26%;*/
    border: none;
    margin-right: 0;
    float: left;
}
/* Messages */

.message {
    border-bottom: 1px dotted #cccccc;
}

input[type=submit] {
    background: #D0D1D4 url(../images/btn_submit.png) repeat-x;
    border: 1px solid #A8A9A8;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    font-weight: bold;
    height: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #333333;
}

input[type=submit].alt_btn {
    background: #D0D1D4 url(../images/btn_submit_2.png) repeat-x;
    border: 1px solid#30B0C8;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    font-weight: bold;
    height: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
    color: #003E49;
    text-shadow: 0 1px 0 #6CDCF9;
    cursor: pointer;
}

input[type=submit].alt_btn:hover {
    color: #001217;
}

input[type=submit].btn_post_message {
    background: #D0D1D4 url(../images/post_message.png) no-repeat;
    display: block;
    width: 37px;
    border: none;
    height: 24px;
    cursor: pointer;
    text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
    background-position: 0 -24px;
}

.post_message {
    text-align: left;
    padding: 5px 0;
}

.post_message input[type=text] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    height: 20px;
    width: 70%;
    color: #ccc;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    text-indent: 10px;
    background-position: 10px 6px;
    float: left;
    margin: 0 3.5%;
}

.post_message input[type=text]:focus {
    outline: none;
    border: 1px solid #77BACE;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    color: #666666;
}

.post_message input[type=image] {
    float: left;
}

.message_list {
    height: 250px;
    overflow-x:hidden;
    overflow-y: scroll;
}

/*end msg*/
/*end admin*/

/*farmer*/
.btn-post{
    border-radius: 0px;height: 40px;
}
/*end*/
/*search*/
.input-search{
    border-radius: 0px;
    margin-right: 0px;
    width: 100%;
    padding-right: 0px;
    height: 50px;
}
.btn-search{
    border-radius: 0px;
    margin-left: 0px;
    height: 50px;
    width: 100px;
}
/*end*/
/*swiper*/

.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
}
.swiper-slide {
    font-size: 18px;
    color:#fff;
    font-family:'Oxygen-Regular';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 250px;
}
.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}
.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

/*end*/

/*pagination*/
.paginate li{
    list-style: none;
    float: left;
    width: 30px;
    height: 30px;
    font-style: bold;
    border: 1px solid #ddd;
    cursor: pointer;
    color: #fff;
    padding-top: 4px;
    padding-left: 10px;
    background-color: #337ab7;
}

.paginate ul{
    border: 0px;
    padding: 0px;
    margin-left: 450px;
}
/*end*/